@import "../../assets/scss/base";

header {
    .search {
        width: 100%;
        display: flex;
        align-items: flex-end;
        
        input[type=text] {
            padding: 0.8em;
            border: 1px solid $gray--medium;
            border-radius: 4px 0 0 4px;
            border-right: 0;
            width: 100%;
        }
        button {
            background: transparent;
            border: 1px solid $gray--medium;
            border-radius: 0 4px 4px 0px;
            padding: 0.61em 0.6em;
        }
        input[type=text]:hover,
        button:hover,
        input[type=text]:focus,
        button:focus {
            border: 1px solid $blue;
        }
      }
      
}


.sorting {
    width: 100%;
}

.filters {
    padding: 0 0.5em;
    margin: 20px 0 20px;
}

.sorting { 
    .el-select {
    width: 100%;
        .el-input {
            .el-input__suffix {
                i {
                    color: black;
                }

            }
    }
}

::placeholder {
    color: #000;
}

}

@media screen and (min-width: $mobile) {
    header {
        display: flex;
        align-items: center;
        .logo {
            max-width: 300px;
        }
        .search {
            max-width: 330px;
            margin-left: auto;
        }
        
    }

}

@media screen and (min-width:$small) {

    header {
        .search {
            max-width: 330px;
            margin-left: auto;
        }
        
    }
    .sorting { 
        width: 400px;
        margin-left: auto; 
    }

}